/* src/ProjectDetails.css */

.modal {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100%;
    background-color: white;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.right-slide-modal {
    right: 0; /* Slide in from the right */
}

.modal-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
}

.close {
    font-size: 24px;
    cursor: pointer;
    align-self: flex-end;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.status-priority {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.status, .priority {
    display: flex;
    flex-direction: column;
}

.status-tag, .priority-tag {
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    background-color: #eee;
}

.priority-tag {
    background-color: #d1ffd1; /* Greenish for low priority */
}

.description-section, .todo-section, .comments-section {
    margin: 20px 0;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.todo-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.remove-todo {
    background-color: #ff5a5a;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.add-todo input {
    width: 80%;
    padding: 5px;
}

.complete-task-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    align-self: flex-start;
}

.complete-task-btn:hover {
    background-color: #218838;
}

.note-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.note-text {
    margin-bottom: 5px;
}

.note-file {
    color: rgb(17, 14, 233);
    text-decoration: underline;
    margin-bottom: 5px;
}

.note-textarea {
    width: 100%;
    resize: vertical;
    margin-bottom: 10px;
cursor: pointer;
margin-left: 5px;
color: gray;
}
.note-dot {
    cursor: pointer;
    margin-right: 3px;
    color: #000;
}
